doctype html
html
  head
    title DASH Dance Acadmy
    block scripts
    block style 
  body
    nav#navbar
        div#logo
            img(src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_121502.png&f=1&nofb=1", alt="")
            h1 DDA
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        | Copyright © 2022 DashDanceAcademy.com | All Rights Reserved
